@import '../../functions';

table {
  margin: 0 auto;
  border-spacing: 10px;
  border-collapse: separate;
  font-size: 1.0625em;
  text-align: center;
  th {
    font-weight: normal;
    width: 125px;
    height: 40px;
  }
  th + th {
    background: gradient();
    width: 200px;
  }

  .bordered {
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: gradient();
  }

  .with-bg {
    background: gradient(0.25);
  }

  .with-bg-faded {
    background: gradient(0.1);
  }

  small {
    display: block;
  }
}

h2 {
  text-align: center;
  font-size: 3.125em;
}

.profile-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
  background-color: black;
}

.default-logo {
  object-fit: contain;
  padding: 1rem;
}
