<div class="col-12">
  <h2>timetable</h2>
  <p class="text-center" style="font-weight: bold">
    datum: 13 oktober 2022
  </p>
  <table style="min-width: 924px">
    <thead>
      <tr>
        <th></th>
        <th>Rio</th>
        <th>Vancouver</th>
        <th>Peking</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="bordered" style="height: 60px">15:30 - 16:00</td>
        <td colspan="3" class="bordered">Ontvangst 6 sprekers / complimentenmeisjes</td>
      </tr>
      <tr>
        <td class="bordered" style="height: 60px">16:00 - 16:15</td>
        <td colspan="3" class="bordered">Ontvangst gasten en badge uitgeven / Welkomswoord / instartvideo
      </tr>
      <tr>
        <td class="with-bg" style="height: 130px">16:15 - 17:00</td>
        <td class="with-bg p-2" colspan="3">
          1ste ronde Workshops
        </td>
      </tr>
      <tr>
        <td class="bordered" style="height: 60px">17:00 - 17:15</td>
        <td colspan="3" class="bordered">Catering met appetizers</td>
      </tr>
      <tr>
        <td class="with-bg" style="height: 130px">18:15 - 19:15</td>
        <td class="with-bg p-2" colspan="3">
          2e ronde Workshops
        </td>
      </tr>
      <tr>
        <td class="bordered" style="height: 60px">18:00 - 19:00</td>
        <td colspan="3" class="bordered">Catering met hoofdgerecht</td>
      </tr>
      <tr>
        <td class="bordered" style="height: 60px">19:00 - 20:00</td>
        <td colspan="3" class="bordered">Keynote speaker <b>(Richard van Hooijdonk)</b></td>
      </tr>
    </tbody>
  </table>
</div>