<div class="col-12">
  <h2>timetable</h2>
  <p class="text-center" style="font-weight: bold">
    datum: 13 oktober 2022
  </p>
  <table style="min-width: 924px">
    <thead>
      <tr>
        <th></th>
        <th>Rio</th>
        <th>Vancouver</th>
        <th>Peking</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="bordered" style="height: 60px">15:30 - 16:00</td>
        <td colspan="3" class="bordered">Inloop</td>
      </tr>
      <tr>
        <td class="bordered" style="height: 60px">16:00 - 16:15</td>
        <td class="bordered">Kickoff IO10 event </td>
        <td colspan="2" class="with-bg-faded"></td>
      </tr>
      <tr>
        <td class="with-bg" style="height: 130px">16:15 - 17:00</td>
        <td class="with-bg p-2">
          <img src="assets/saskia.jpg" alt="Saskia Groenewegen" class="profile-img">
          <div>
            Saskia Groenewegen
          </div>
        </td>
        <td class="with-bg p-2">
          <img src="assets/martin.png" alt="Martin C. de Munnik" class="profile-img">
          <div>
            Martin C. de Munnik
          </div>
        </td>
        <td class="with-bg p-2">
          <img src="assets/swaana.jpg" alt="Swaana Snorradottir" class="profile-img">
          <div>
            Swaana Snorradottir
          </div>
        </td>
      </tr>
      <tr>
        <td class="bordered" style="height: 60px">17:00 - 17:15</td>
        <td colspan="3" class="bordered">Catering met appetizers</td>
      </tr>
      <tr>
        <td class="with-bg" style="height: 130px">17:15 - 18:00</td>
        <td class="with-bg p-2">
          <img src="assets/julia_alberga.png" alt="Julia Alberga" class="profile-img">
          <div>
            Julia Alberga
          </div>
        </td>
        <td class="with-bg p-2">
          <img src="assets/logo.png" alt="Michael Schifferling / Erwin Bell" class="profile-img default-logo">
          <div>
            Michael Schifferling <br />Erwin Bell
          </div>
        </td>
        <td class="with-bg p-2">
          <img src="assets/bjorn.jpeg" alt="Bjorn van der Beek" class="profile-img">
          <div>
            Bjorn van der Beek
          </div>
        </td>
      </tr>
      <tr>
        <td class="bordered" style="height: 60px">18:00 - 19:00</td>
        <td colspan="3" class="bordered">Catering met hoofdgerecht</td>
      </tr>
      <tr>
        <td class="bordered" style="height: 60px">19:00 - 20:00</td>
        <td class="bordered p-4">
          <img src="assets/richard.png" alt="Richard van Hooijdonk" class="profile-img">
          <div>
            Keynote speaker <br /><b>(Richard van Hooijdonk)</b>
          </div>
        </td>
        <td colspan="2" class="with-bg-faded"></td>
      </tr>
      <tr>
        <td class="bordered" style="height: 60px">20:00 - 21:30</td>
        <td colspan="3" class="bordered">Borrel (grote zaal en piccalilly)</td>
      </tr>
    </tbody>
  </table>
</div>