<div class="col-12">
  <h2>timetable</h2>
  <p class="text-center" style="font-weight: bold">
    datum: 14 oktober 2021
  </p>
  <table style="min-width: 924px">
    <thead>
      <tr>
        <th></th>
        <th>Rio</th>
        <th>Vancouver</th>
        <th>Peking</th>
        <th>Atlanta</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="bordered" style="height: 60px">15:00 - 15:15</td>
        <td colspan="4" class="bordered">Inloop</td>
      </tr>
      <tr>
        <td class="with-bg" style="height: 30px">15:15 - 15:30</td>
        <td class="with-bg">Welkomstwoord</td>
        <td colspan="3" class="with-bg-faded"></td>
      </tr>
      <tr>
        <td class="with-bg" style="height: 75px">15:30 - 16:30</td>
        <td class="with-bg">Keynote:<br />Jarno Duursma</td>
        <td colspan="3" class="with-bg-faded"></td>
      </tr>
      <tr>
        <td class="with-bg" style="height: 130px">16:45 - 17:45</td>
        <td class="with-bg p-2">
          Breakout sessie 1:<br />Dennis van der Stelt<small>Hoe om te gaan met eventual consistency.</small>
        </td>
        <td class="with-bg p-2">
          Breakout sessie 2:<br />Miranda Beugelsdijk / Mirthe van
          Gaalen<small>Conversational Design</small>
        </td>
        <td class="with-bg p-2">
          Breakout sessie 3:<br />Swaana Snorradottir<small>The backend in the frontend</small>
        </td>
        <td class="with-bg p-2">
          Breakout sessie 4:<br />Jasper Roel<small>Devops: Becoming the most valuable player (automation as
            a lifestyle)</small>
        </td>
      </tr>
      <tr>
        <td class="bordered" style="height: 60px">17:45 - 18:15</td>
        <td colspan="4" class="bordered">Pauze met appetizers</td>
      </tr>
      <tr>
        <td class="with-bg" style="height: 130px">18:15 - 19:15</td>
        <td class="with-bg p-2">
          Breakout sessie 5:<br />Dennis van der Stelt<small>Microservices delen nooit data!</small>
        </td>
        <td class="with-bg p-2">
          Breakout sessie 6:<br />Tim de Roode<small>Versterking tussen design thinking en devops.</small>
        </td>
        <td class="with-bg p-2">
          Breakout sessie 7:<br />Israel Roldan Leon<small>Demystifying the modern front-end stack</small>
        </td>
        <td class="with-bg p-2">
          Breakout sessie 8:<br />Jasper Jochem<small>AR/VR Defensie</small>
        </td>
      </tr>
      <tr>
        <td class="bordered" style="height: 60px">19:30 - 19:45</td>
        <td colspan="4" class="bordered">Food &amp; drinks</td>
      </tr>
      <tr>
        <td class="bordered" style="height: 60px">20:00 - 20:30</td>
        <td colspan="4" class="bordered">Borrel Piccalilly</td>
      </tr>
    </tbody>
  </table>
</div>