<div class="col">
  <h2>sprekers</h2>
  <p>Dit zijn de thema's waar je uit kunt kiezen:</p>
  <div class="row">
    <div class="col-12 col-md-6 col-xl-3" *ngFor="let speaker of speakers">
      <div class="card text-white" style="background-color: transparent"
        [ngClass]="{'unknown': speaker.title === 'TO BE ANNOUNCED'}">
        <img [src]="speaker.picture" class="card-img-top p-3" [alt]="speaker.subject" />
        <img [src]="speaker.portrait" [alt]="speaker.title" class="img-fluid portrait" />
        <div class="card-body">
          <h5 class="card-title">{{ speaker.title }}</h5>
          <p class="card-text">{{ speaker.subject }}</p>
          <button *ngIf="speaker.title !== 'TO BE ANNOUNCED'" type="button" class="btn btn-link"
            (click)="openModal(content, speaker)">
            meer info
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div *ngIf="currentSpeaker">
    <img [src]="currentSpeaker.picture" [alt]="currentSpeaker.subject" class="img-top" />
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-md-3">
            <div class="row">
              <div class="col-6 col-md-12 text-md-center">
                <div class="location">{{ currentSpeaker.location }}</div>
              </div>
              <div class="col-6 col-md-12 mt-md-5 text-center">
                <img [src]="currentSpeaker.portrait" [alt]="currentSpeaker.title" class="img-fluid portrait" />
                <div class="title mt-2">{{ currentSpeaker.title }}</div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-9">
            <div class="modalborder mt-3 d-md-none"></div>
            <div class="subject mt-3 mt-md-0">{{ currentSpeaker.subject }}</div>
            <div class="time mt-3" *ngIf="currentSpeaker.time"><img src="assets/time.svg" /> {{ currentSpeaker.time }}
            </div>
            <div class="modalborder mt-3"></div>
            <div class="description mt-3">{{ currentSpeaker.description }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>