<div class="card text-white" style="background-color: transparent">
  <img [src]="picture" class="card-img-top p-3" [alt]="subject" />
  <img [src]="portrait" [alt]="title" class="img-fluid portrait" />
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">{{ subject }}</p>
    <button type="button" class="btn btn-link" (click)="openModal(content)">
      meer info
    </button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-body">
    <div class="container-fluid">
      <p>test</p>
    </div>
  </div>
</ng-template>
