<div class="card text-white" style="background-color: transparent">
  <img [src]="picture" class="card-img-top" [alt]="subject" />
  <ul class="list-group list-group-flush">
    <li class="list-group-item" style="background-color: transparent">
      <img [src]="portrait" [alt]="title" class="img-fluid" />
    </li>
  </ul>
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">{{ subject }}</p>
    <a href="#" class="btn btn-link">meer info</a>
  </div>
</div>
