<div class="card text-white" style="background-color: transparent">
  <img [src]="picture" class="card-img-top p-3" [alt]="subject" />
  <img [src]="portrait" [alt]="title" class="img-fluid portrait" />
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">{{ subject }}</p>
    <button type="button" class="btn btn-link" (click)="openModal(content)">
      meer info
    </button>
  </div>
</div>

<ng-template #content let-modal>
  <img [src]="picture" [alt]="subject" class="img-top" />
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-3">
          <div class="row">
            <div class="col-6 col-md-12 text-md-center">
              <div class="location">{{ location }}</div>
            </div>
            <div class="col-6 col-md-12 mt-md-5 text-center">
              <img [src]="portrait" [alt]="title" class="img-fluid portrait" />
              <div class="title mt-2">{{ title }}</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-9">
          <div class="modalborder mt-3 d-md-none"></div>
          <div class="subject mt-3 mt-md-0">{{ subject }}</div>
          <div class="time mt-3"><img src="assets/time.svg" /> {{ time }}</div>
          <div class="modalborder mt-3"></div>
          <div class="description mt-3">{{ description }}</div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
