<div class="container-fluid">
  <div class="row my-md-1">
    <div class="col-10">
      <div class="header">timetable</div>
    </div>
  </div>

  <div class="row my-md-1">
    <div class="col-1">&nbsp;</div>
    <div class="col-2 timetable_header" *ngFor="let header of timetable_header">
      {{ header }}
    </div>
  </div>

  <div class="row my-md-1 correct-width">
    <div class="col-1 timeslot">
      <div>15:00<br />15:15</div>
    </div>
    <div class="col-sm-8 program-item-full-width">
      <div><span>Inloop</span></div>
    </div>
  </div>

  <div class="row my-md-1">
    <div class="col-1 timeslot_filled">
      <div>15:30</div>
    </div>
    <div class="col-sm-2 program-item">
      <span>Welkom door John</span>
    </div>
    <div class="col-sm-6 correct-width2 program-item"></div>
  </div>

  <div class="row my-md-1">
    <div class="col-1 timeslot_filled">
      <div>15:45<br />16:00<br />16:15<br />16:30</div>
    </div>
    <div class="col-sm-2 program-item">
      <div>
        <span>Keynote:<br />Jarno Duursma</span>
      </div>
    </div>
    <div class="col-sm-6 program-item"></div>
  </div>

  <div class="row my-md-1">
    <div class="col-1 timeslot_filled">
      <div>16:45<br />17:00<br />17:15</div>
    </div>
    <div class="col-sm-2 program-item">
      <div>
        <span
          >Breakout sessie 1:<br />Jasper Roel<br /><span class="small"
            >(programmeren in de cloud)</span
          ></span
        >
      </div>
    </div>
    <div class="col-sm-2 program-item">
      <div><span>Breakout sessie 2:</span></div>
    </div>
    <div class="col-sm-2 program-item">
      <div><span>Breakout sessie 3:</span></div>
    </div>
    <div class="col-sm-2 program-item">
      <div><span>Breakout sessie 4:</span></div>
    </div>
  </div>

  <div class="row my-md-1 correct-width">
    <div class="col-1 timeslot">
      <div>17:30<br />17:45</div>
    </div>
    <div class="col-sm-8 program-item-full-width">
      <div><span>Voorgerecht</span></div>
    </div>
  </div>

  <div class="row my-md-1">
    <div class="col-1 timeslot_filled">
      <div>18:00<br />18:15<br />18:30</div>
    </div>
    <div class="col-sm-2 program-item">
      <div><span>Breakout sessie 5:</span></div>
    </div>
    <div class="col-sm-2 program-item">
      <div><span>Breakout sessie 6:</span></div>
    </div>
    <div class="col-sm-2 program-item">
      <div><span>Breakout sessie 7:</span></div>
    </div>
    <div class="col-sm-2 program-item">
      <div><span>Breakout sessie 8:</span></div>
    </div>
  </div>

  <div class="row my-md-1 correct-width">
    <div class="col-1 timeslot">
      <div>18:45<br />19:00<br />19:15</div>
    </div>
    <div class="col-sm-8 program-item-full-width">
      <div><span>Hoofdgerecht</span></div>
    </div>
  </div>

  <div class="row my-md-1">
    <div class="col-1 timeslot_filled">
      <div>19:30<br />19:45</div>
    </div>
    <div class="col-sm-2 program-item">
      <div><span>Centrale afsluiting</span></div>
    </div>
    <div class="col-sm-6 program-item"></div>
  </div>

  <div class="row my-md-1 correct-width">
    <div class="col-1 timeslot">
      <div>20:00<br />20:15<br />20:30</div>
    </div>
    <div class="col-sm-8 program-item-full-width">
      <div><span>Borrel Piccalilly</span></div>
    </div>
  </div>
</div>
