.piccalilly {
  position: relative;
  border: 0;
  width: 100%;
  left: 0px;
}

.tomato {
  position: absolute;
  border: 0;
  left: 63.5%;
  top: 42%;
  width: 9%;
}

.lettuce {
  position: absolute;
  left: 66.7%;
  top: 10%;
  z-index: 100;
  width: 26%;
}

.union {
  position: absolute;
  left: 83.5%;
  top: 38.5%;
  width: 10%;
}

.garlic {
  position: absolute;
  left: 76%;
  top: 2%;
  width: 7%;
}

.logo {
  display: block;
  margin: auto;
}

.inner {
  padding: 60px 20px;
}

.header {
  margin-top: 30px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 100%;
}

.content {
  margin-top: 22px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 125%;
}

.textbox {
  position: absolute;
  left: 161px;
  top: 280px;
  width: 479px;
  height: 524px;
  background-color: #ffffff;
}
