<div class="row" #piccalilly>
  <img class="piccalilly" src="/assets/piccalilly.png" />
  <img class="tomato" src="/assets/tomato.svg" />
  <img class="lettuce" src="/assets/lettuce.svg" />
  <img class="union" src="/assets/union.svg" />
  <img class="garlic" src="/assets/garlic.svg" />
  <div class="textbox">
    <div class="inner">
      <img class="logo" src="/assets/piccalilly_logo.svg" />
      <p class="header">Ontdek de wereld van Piccalilly</p>
      <p class="content">
        Het eten wordt verzorgd door familiebedrijf Piccalilly Catering. Heb je
        speciale dieetwensen? Geef dit door aan de Office Manager van jouw
        bedrijf.
      </p>
    </div>
  </div>
</div>
