.piccalilly {
  position: absolute;
  width: 1920px;
  height: 805px;
  left: 0px;
  top: 3672px;
  background-image: url("/assets/5.TEASER PICALILLY.png");
}

.tomato {
  position: absolute;
  width: 206.35px;
  height: 200.84px;
  left: 1220px;
  top: 4137px;
  background-image: url("/assets/tomato.png");
}

.lettuce {
  position: absolute;
  width: 507.16px;
  height: 398.94px;
  left: 1282px;
  top: 3765px;
  z-index: 100;
  background-image: url("/assets/lettuce.png");
}

.union {
  position: absolute;
  width: 194.43px;
  height: 364.09px;
  left: 1598px;
  top: 4096px;
  z-index: 0;
  background-image: url("/assets/union.png");
}

.garlic {
  position: absolute;
  width: 146.74px;
  height: 142.15px;
  left: 1451px;
  top: 3694px;
  background-image: url("/assets/garlic.png");
}
