<div class="container-xl">
  <div class="row">
    <div class="col-lg-1"><div class="col-visual">c1</div></div>
    <div class="col-lg-1"><div class="col-visual">c2</div></div>
    <div class="col-lg-1"><div class="col-visual">c3</div></div>
    <div class="col-lg-1"><div class="col-visual">c4</div></div>
    <div class="col-lg-1"><div class="col-visual">c5</div></div>
    <div class="col-lg-1"><div class="col-visual">c6</div></div>
    <div class="col-lg-1"><div class="col-visual">c7</div></div>
    <div class="col-lg-1"><div class="col-visual">c8</div></div>
    <div class="col-lg-1"><div class="col-visual">c9</div></div>
    <div class="col-lg-1"><div class="col-visual">c10</div></div>
    <div class="col-lg-1"><div class="col-visual">c11</div></div>
    <div class="col-lg-1"><div class="col-visual">c12</div></div>
  </div>
  <div class="row">
    <div class="col">
      <h1>header: io10/thn</h1>
      <ul>
        <li>io10</li>
        <li>thema's/sprekers</li>
        <li>timetable</li>
        <li>catering</li>
        <li>parkeren</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>slider (keynote speaker)</h2>
      <p>
        Key note speaker Jarno Duursma neemt ons mee in zijn wereld. Jarno is
        een Nederlandse technologie-expert, publicist, trendwatcher en spreker
        op het gebied van digitale technologie.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>intro tekst event</h2>

      <p>IO10: where human meets technology</p>

      <p>
        Weinig sectoren zijn zo dynamisch en veranderlijk als IT. Veel
        organisaties zetten hun transformatiemotor in turboversnelling. Wat
        betekent dit voor de toekomst?
      </p>

      <p>
        EportaConsult, Digital Marketing Partner, UX Partner en J-Next slaan hun
        handen ineen. Zij organiseren IO10, een bijeenkomst met interactieve
        break out sessies op het gebied van softwareontwikkeling, Design
        Thinking en Next Level Content Marketing.
      </p>
      <p>
        Ben jij erbij, op de donderdagmiddag 14 oktober? Meld je aan en neem
        gerust een introducee mee!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>sprekers</h2>
      <p>Dit zijn de skills waar je uit kunt kiezen</p>
      <div class="row">
        <div class="col-sm-6 col-md-3">skill 1</div>
        <div class="col-sm-6 col-md-3">skill 2</div>
        <div class="col-sm-6 col-md-3">skill 3</div>
        <div class="col-sm-6 col-md-3">skill 4</div>
        <div class="col-sm-6 col-md-3">skill 5</div>
        <div class="col-sm-6 col-md-3">skill 6</div>
        <div class="col-sm-6 col-md-3">skill 7</div>
        <div class="col-sm-6 col-md-3">skill 8</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-timetable></app-timetable>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>picalilly teaser</h2>
      <p>
        Het eten wordt verzorgd door Piccalilly Catering. Heb je speciale
        dieetwensen? Geef dit door aan de Office Manager van jouw bedrijf.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>parkeren</h2>
      <p>
        IO10 wordt georganiseerd in het pand van The Human Network, op de
        Orteliuslaan 855 in Utrecht.
      </p>
      <p>
        Dit is makkelijk bereikbaar via het openbaar vervoer. Kom je met de
        auto? Parkeer dan bij de nabijgelegen P&R.
      </p>
      <p>Er zijn uitrijkaarten beschikbaar!</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>logo's</h2>
      <ul>
        <li>ux partner</li>
        <li>j-next</li>
        <li>digital markting partner</li>
        <li>eporta consult</li>
        <li>the human network</li>
      </ul>
    </div>
  </div>
</div>
