@import '../functions';
@import '../variables';
@import '~bootstrap/scss/bootstrap';

#keynote {
  h2 {
    font-size: 2.5em;
    line-height: 1em;
  }
  p {
    font-size: 1.375em;
    line-height: 1.5em;
  }
  a {
    border-radius: 5em;
    font-size: 20px;
  }
}

#intro {
  h2 {
    font-size: 3.125em;
    line-height: 1em;
    text-transform: lowercase;
    background: gradient();
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    font-size: 1.375em;
    line-height: 1.5em;
  }
}

#sprekers {
  h2 {
    font-size: 3.125em;
    line-height: 1em;
  }
  p {
    font-size: 1.375em;
    line-height: 1.5em;
  }
}

#timetable {
  h2 {
    text-align: center;
    font-size: 3.125em;
  }

  table {
    margin: 0 auto;
    border-spacing: 10px;
    border-collapse: separate;
    font-size: 1.0625em;
    text-align: center;
    th {
      font-weight: normal;
      width: 125px;
      height: 40px;
    }
    th + th {
      background: gradient();
      width: 200px;
    }

    .bordered {
      border: 1px solid;
      border-image-slice: 1;
      border-image-source: gradient();
    }

    .with-bg {
      background: gradient(0.25);
    }

    .with-bg-faded {
      background: gradient(0.1);
    }

    small {
      display: block;
    }
  }
}

#piccalilly {
  background-color: white;
  h2 {
    font-size: 3.125em;
    line-height: 1em;
    font-weight: bold;
  }
  p {
    font-size: 1.375em;
    line-height: 1.25em;
  }
  .img-piccalilly {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
}

#parking {
  h2 {
    font-size: 3.125em;
    line-height: 1em;
  }
  p {
    font-size: 1.375em;
    line-height: 1.25em;
  }
  a {
    &.btn {
      border-radius: 5em;
      font-size: 20px;
    }
    &.row {
      text-decoration: none;
      color: inherit;
    }
  }
  .contactinfo {
    font-size: 1.875em;
    line-height: 1em;
  }
  .img-parking {
    object-fit: cover;
    height: 280px;
  }
}

#logos {
  background-color: white;
}

#aanmelden {
  padding: 100px 0;
  background: gradient();

  .form-control {
    border-radius: 50px;
  }
  button {
    border-radius: 5em;
  }
}

.navbar-logo {
  max-width: 167px;
}

@include media-breakpoint-up(md) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }

  .navbar-logo {
    max-width: 245px;
  }

  #keynote {
    h2 {
      font-size: 67px;
    }
  }

  #parking {
    .img-parking {
      height: 600px;
    }
  }

  #piccalilly {
    .img-piccalilly {
      height: 500px;
    }
  }
}

@include media-breakpoint-up(lg) {
  #intro,
  #sprekers,
  #timetable,
  #piccalilly,
  #parking,
  #aanmelden {
    margin-top: 150px !important;
  }

  #piccalilly {
    .ontdek {
      position: absolute;
      background-color: white;
      bottom: 0;
      left: 10%;
      right: 60%;
      padding-top: 40px;
    }
    .img-piccalilly {
      height: 800px;
    }
  }

  #parking {
    .img-parking {
      height: 850px;
    }
  }
}

.navbar {
  ul.navbar-nav {
    font-size: 22px;
    line-height: 27.5px;
    font-weight: bold;
    li {
      a {
        color: white;
        border-bottom: solid 2px transparent;
        &:hover {
          color: white;
          border-bottom: 2px solid;
          border-image-slice: 1;
          border-image-source: linear-gradient(
            90deg,
            #00ce7c 0.04%,
            #5cc3b0 31.81%,
            #00a1de 71.9%,
            #005971 100.02%
          );
        }

        &[href='#aanmelden'] {
          background: gradient();
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .navbar {
    ul.navbar-nav {
      text-align: center;
      margin-top: 20px;
      a {
        display: inline-block;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .navbar {
    justify-content: space-between;
    .navbar-collapse {
      flex: 0 1 auto;
      ul.navbar-nav {
        li + li {
          margin-left: 40px;
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  #keynote {
    h2 {
      font-size: 46px;
    }
  }
}
