<div class="container-xl root-container">
  <div class="row justify-content-center">
    <div class="col-10 col-xl-12">
      <div class="row">
        <app-navbar class="col"></app-navbar>
      </div>
      <!-- keynote -->
      <div class="row pt-5" id="keynote">
        <div class="col-12 col-xl-5 align-self-center">
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
              <h2 class="text-justified">
                Op 13 oktober 2022 zal IO10 weer plaats gaan vinden!
              </h2>
              <p class="mt-3 mb-0">
                Na een succesvolle eerste editie belooft het ook nu weer een bijzondere avond te worden.
                Hiernaast nog even de beelden van vorig jaar.
              </p>
              <!--
              <a
                class="btn btn-outline-light mt-3 p-3"
                href="#aanmelden"
                (click)="scroll($event, '#aanmelden')"
              >
                aanmelden voor io10
              </a>
              -->
            </div>
            <div class="col-lg-1"></div>
          </div>
        </div>
        <div class="col-12 col-xl-7 mt-3 mt-xl-0">
          <style>
            .embed-container {
              position: relative;
              padding-bottom: 56.25%;
              height: 0;
              overflow: hidden;
              max-width: 100%;
            }

            .embed-container iframe,
            .embed-container object,
            .embed-container embed {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          </style>
          <div class="embed-container">
            <iframe src="https://www.youtube.com/embed/kjyl6fBCEO4" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
      <!-- intro text -->
      <div id="intro" class="row justify-content-center pt-5">
        <div class="col-12 col-lg-10 text-center">
          <h2>IO10: where human meets technology</h2>
          <p class="mt-3 mb-0">
            Weinig sectoren zijn zo dynamisch en veranderlijk als IT. Veel
            organisaties zetten hun transformatiemotor in turboversnelling. Wat
            betekent dit voor de toekomst? EportaConsult, Digital Marketing
            Partner, UX Partner en J-Next slaan hun handen ineen. Zij
            organiseren IO10, een platform met interactieve events op het gebied
            van softwareontwikkeling, Design Thinking en Next Level Content
            Marketing. Wil je meer weten, neem dan contact met ons op via
            <a href="mailto:office@io10.nl">office@io10.nl</a>.
          </p>
        </div>
      </div>
      <!-- speakers -->
      <div class="row text-center pt-5" id="sprekers">
        <app-speakers></app-speakers>
      </div>
    </div>
    <div class="col-12 px-0">
      <!-- timetable -->
      <!-- <div class="row justify-content-center pt-5 no-gutters" id="timetable">
        <app-timetable style="overflow-x: auto"></app-timetable>
      </div> -->
      <!-- piccalilly -->
      <div class="row mt-5 no-gutters text-dark text-center" id="piccalilly">
        <div class="col">
          <img src="assets/picabg.jfif" class="img-fluid img-piccalilly" />
        </div>
        <div class="row justify-content-center mt-4 no-gutters ontdek">
          <div class="col-8 col-lg-10">
            <img src="assets/picalilly.svg" class="img-fluid" />
            <h2 class="mt-4">Ontdek de wereld van Piccalilly</h2>
          </div>
          <div class="col-10 mt-4 mb-4">
            <p>
              Het eten wordt verzorgd door familiebedrijf Piccalilly Catering.
              Heb je speciale dieetwensen? Geef dit door aan de Office Manager
              van jouw bedrijf.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 col-xl-12">
      <!-- parking -->
      <div class="row justify-content-between py-5" id="parking">
        <div class="col-12 col-lg-7">
          <img src="assets/thnlobby.jpg" class="img-fluid img-parking" />
        </div>
        <div class="col-12 col-lg-5 mt-5 mt-lg-0 align-self-center">
          <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
              <h2>Parkeren bij The Human Network</h2>
              <a class="row mt-4" href="https://goo.gl/maps/TFBPSP9t8Wdfbw6v9" target="_blank">
                <div class="col-2 col-sm-1"><img src="assets/home.svg" /></div>
                <div class="col-10 col-sm-11 contactinfo">
                  Orteliuslaan 855 • Utrecht
                </div>
              </a>
              <a class="row mt-3" href="tel:+31308905400">
                <div class="col-2 col-sm-1"><img src="assets/phone.svg" /></div>
                <div class="col-10 col-sm-11 contactinfo">030 890 5400</div>
              </a>
              <a class="row mt-3" href="mailto:office@io10.nl">
                <div class="col-2 col-sm-1"><img src="assets/mail.svg" /></div>
                <div class="col-10 col-sm-11 contactinfo">office@io10.nl</div>
              </a>
              <p class="mt-4">
                IO10 wordt georganiseerd in het pand van The Human Network, op
                de Orteliuslaan 855 in Utrecht.
              </p>
              <p>
                Dit is makkelijk bereikbaar via het openbaar vervoer. Kom je met
                de auto? Parkeer dan bij de nabijgelegen P&R. Er zijn
                uitrijkaarten beschikbaar!
              </p>
              <a target="_blank" href="https://goo.gl/maps/TFBPSP9t8Wdfbw6v9" class="p-3 btn btn-outline-light">
                plan route
              </a>
            </div>
            <div class="col-lg-1"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 px-0" id="logos">
      <!-- logo's -->
      <app-logos></app-logos>
    </div>
  </div>
</div>