<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div class="col-5 align-self-center">
        <img src="/assets/Frame 17@1x.png" alt="Logo" class="logo img-fluid" />
      </div>
      <div class="col-offset-1 align-self-center">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          (click)="toggleCollapsed()"
        >
          <div *ngIf="collapsed" class="toggle-icon">
            <span class="icon-bar icon-bar1"></span>
            <span class="icon-bar icon-bar1"></span>
            <span class="icon-bar icon-bar2"></span>
            <span class="icon-text">Menu</span>
          </div>
          <div *ngIf="!collapsed" class="toggle-icon">
            <span class="icon-close">X</span>
            <span class="icon-text">Sluiten</span>
          </div>
        </button>
      </div>
    </div>
    <div
      [ngClass]="{
        collapse: collapsed,
        'navbar-collapse': true
      }"
      id="navbarSupportedContent"
    >
      <div class="navbar-nav">
        <a
          *ngFor="let menuitem of menuitems"
          class="nav-link menu-item"
          [href]="menuitem.url"
          (click)="selectMenu()"
          >{{ menuitem.text }}</a
        >
      </div>
    </div>
  </div>
</nav>
