<div class="navbar fixed-top header">
  <div class="col-md-5 offset-md-1 logo">
    <img src="/assets/Frame 17@1x.png" alt="Logo" class="logo" />
  </div>
  <a href="/#themes" class="col-md-1 menu-item">io/10</a>
  <a href="/#themes" class="col-md-1 menu-item">thema's/sprekers</a>
  <a href="/#timetable" class="col-md-1 menu-item">timetable</a>
  <a href="/#catering" class="col-md-1 menu-item">catering</a>
  <a href="/#parking" class="col-md-1 menu-item">parkeren</a>
  <div class="col-md-1">&nbsp;</div>
</div>
