.header {
  top: 0;
  padding-top: 30px;
  background-color: black;
}

.logo {
  height: 107.47px;
}

.menu-item {
  padding-top: 47px;
  color: white;
  font-family: Calibri;
  font-weight: 400;
  text-align: center;

  cursor: pointer;
}
